* {
  margin: 0;
  padding: 0;
}
/* Navigation bar style */
.navbar {
  width: 100%;
  background-color: #fff8f8;
  height: 60px;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.1);
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.tab a {
  text-decoration: none;
  color: black;
}

.tab a:visited {
  color: black;
}

.tab a:hover {
  color: #f77f00;
}

.burger-btn {
  display: none;
}

#logo {
  height: 50px;
}

.main-page {
  background-image: url(https://img.freepik.com/premium-photo/photo-closeup-shot-delicious-food_829042-89.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.main-page::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.main-page-description {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  top: 40%;
  right: 7%;
  text-align: center;
  color: white;
}

.main-page-description h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.main-page-description h1 span {
  color: #d7b984;
}

.main-page-description h3 {
  font-size: 30px;
  margin-top: 5px;
}

/* Contact */
.contact-container {
  margin: 0 150px;
  padding: 70px 0;
}

.contact-title {
  font-size: 32px;
  color: #1d3557;
  text-align: center;
  margin: 20px 0;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}

form #subject {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-control {
  border-color: #457b9d;
  padding: 6px 12px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.contact-btn {
  width: fit-content;
  background-color: #1d3557;
  border: 0;
  padding: 15px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  font-size: 16px;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: #457b9d;
}

/* Footer */
.footer-container {
  padding: 50px 150px 20px 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eaf4f4;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  background-color: #eaf4f4;
  gap: 50px;
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.2;
}

.footer-title p {
  margin: 0;
}

.aboutme-footer p {
  font-size: 18px;
  line-height: 1.5;
  color: #888a8e;
  margin: 0;
  margin-bottom: 30px;
}

.working-hours {
  font-size: 18px;
  color: #a99e9c;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.quick-links-tabs ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.quick-links-tab a {
  font-size: 18px;
  color: #f9965c;
  text-decoration: none;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.subscribe-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #888a8e;
  margin: 0;
  margin-bottom: 30px;
}

.subscribe-email {
  display: flex;
  justify-content: flex-start;
}

#subscribe {
  padding: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 0 !important;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.5;
}

#send-email {
  background-color: #fdb44b;
  border-color: #fdb44b;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.675rem 1.2rem;
}

#send-email:hover {
  background-color: #fec97d;
  border-color: #fec97d;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.contact-info {
  font-size: 18px;
  color: #888a8e;
  text-decoration: none;
}

.contact-info a {
  text-decoration: none;
}

.contact-info a span {
  font-size: 16px;
  color: #888a8e;
  text-decoration: none;
}

#phone {
  font-size: 22px;
}

.copyright {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.copyright p {
  margin: 0;
  font-size: 16px;
  color: #888a8e;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 100px;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  .tabs {
    display: none;
  }

  .burger-btn {
    display: block;
    margin-left: 55%;
    margin-right: 20px;
  }

  .burger-btn:hover {
    cursor: pointer;
  }

  .burger-btn img {
    width: 40px;
  }

  .contact-container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 70px;
  }

  .burger-btn {
    margin-left: 50%;
  }

  .contact-container {
    margin: 0 30px;
  }

  .footer-container {
    padding: 50px 70px 20px 70px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .burger-btn {
    margin-left: 30%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 30px;
  }

  .main-page-description h1 {
    font-size: 40px;
  }

  .footer-container {
    padding: 50px 30px 20px 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    padding: 0 10px;
  }

  .contact-container {
    margin: 0 10px;
  }
}
